{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div id="container-2">
                <h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5>

        </div>


        <div id="container-3">

            <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\03CreateAccountPage.html';" class="buttoncreateaccount">CREATE <br> ACCOUNT</button>
            <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\04LoginPage.html';" class="buttonlogin">LOGIN</button>
            <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\01CustHomePage.html';" class="buttonhome">HOME</button>


        </div>
    
     <div class="footer"><p>Nuat Thai Dev Team @2019</p></div>
{% endblock content %}