{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div id="container-2"><h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5>
        </div>
        <div id="container-3">
            <div class="header-1">
                <p>
                    Thank you for Completing your Reservation! <br><br>

                    Kindly present <br>
                    your customer Reference Number <br>
                    and pay upon arrival :) <br><br>

                    Reference Number: <br><br><br><br>

                    You may check your email for the copy of your Reference Number.
                </p>
            </div>
            <div id="column2">
                    <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\10EditAccount.html';" class="generalbutton">EDIT ACCOUNT</button><br>
                    <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\01CustHomePage.html';" class="generalbutton">LOGOUT</button><br>
                    <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\05ReservationSearchPage.html';" class="generalbutton">SEARCH RESERVATION</button><br>
                    <button onclick="window.location.href = 'C:\nuatthai\nuatthai\users\templates\users\06ReservatinoPage01.html';" class="generalbutton">NEW RESERVATION</button>
                </div>



        </div>

     <div class="footer"><p>Nuat Thai Dev Team @2019</p></div>

{% endblock content %}