{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="container-1">

	<div class="box-homeleft"><br><br><br><br>
		<p class="h1">NUAT THAI</p>
		<p class="h5">FOOT AND BODY MASSAGE</p><br><br>
		<p><a href="C:\nuatthai\NuatThai.Customer\11AdminStaffHomePage.html" class="h3">HOME</a></p>
		<p><a href="C:\nuatthai\NuatThai.Customer\12StaffHomePage.html" class="h3">STAFF</a></p>
		<p><a href="C:\nuatthai\NuatThai.Customer\13AdminLogInPage.html" class="h3">ADMINISTRATOR</a></p>
	</div>


	<div class="box-adminstaff"></div>


</div> 
<div class="footer"><p>Nuat Thai Dev Team @2019</p></div>



{% endblock content %}