{% extends "base.html" %}
{% block content %}

<div id="container-1">

	<div class="box-homeleft"><br><br><br><br>
		<p class="h1">NUAT THAI</p>
		<p class="h5">FOOT AND BODY MASSAGE</p><br><br>
		<p><a href="'{% url '_11AdminStaffHomePage' %}';" class="h3">HOME</a></p>
		<p><a href="'{% url '_12StaffHomePage' %}';" class="h3">STAFF</a></p>
		<p><a href="'{% url '_13AdminLogInPage' %}';" class="h3">ADMINISTRATOR</a></p>
	</div>


	<div class="box-adminstaff">
			<div>
					<h5 class="header-adminstaff">MASSAGE RESERVATION LIST</h5>
			</div>
			<div id="columnadminstaff">
                    <div class="formpersonalinfo">
                        <label for="EmailAddress">Username: </label><br>
                        <input type="email" name="" id="">
                    </div>
                    <div class="formpersonalinfo">
                        <label for="Password">Password: </label><br>
                        <input type="password" name="" id="">
                    </div>
                    <div>
                        <h5><a href="" class="h3">Forgot Password</a></h5>
                    </div>

            </div>
	</div>




</div> 




{% endblock content %}