{% extends "base.html" %}
{% block content %}

        <div id="container-2"><h5 class="header-main"> ONLINE MASSAGE RESERVATION</h5></div>
        <div id="container-3">
            <div id="column1">
                    <div class="formpersonalinfo">
                        <label for="ReferenceID">Reference Number: </label><br>
                        <input type="ReferenceID" name="" id="">
                    </div><br>
                    <div class="">
                        DATE <br>
                        TIME <br>
                        STATUS
                    </div><br>
                    <button onclick="window.location.href = '';" class="generalbutton">SEARCH</button>
                    <button onclick="window.location.href = '';" class="generalbutton">CANCEL</button>
            </div>

            <div id="column2">
                    <button onclick="window.location.href = '{% url '_10EditAccount' %}';" class="generalbutton">EDIT ACCOUNT</button><br>
                    <button onclick="window.location.href = '{% url 'home' %}';" class="generalbutton">LOGOUT</button><br>
                    <button onclick="window.location.href = '{% url '_06ReservationPage01' %}';" class="generalbutton">NEW RESERVATION</button>
                </div>



        </div>



{% endblock content %}