{% extends "base.html" %}
{% block content %}

<div id="container-1">

    <div class="box-homeleft"><br><br><br><br>
      <p class="h1">NUAT THAI</p>
      <p class="h5">FOOT AND BODY MASSAGE</p><br><br>
      <p class="h3">Home</p>
      <p><a href="{% url 'reservation-home' %}" class="h3">Reservation</a></p>
      <p class="h3">About Us</p>
      <p class="h3">Mission and Vision</p>
      <p class="h3">Branches and Franchises</p>
      <p class="h3">What's New</p>
      <p class="h3">Franchising</p>
      <p class="h3">Contact Us</p><br>
    </div>
  
  
    <div class="box-homeright"></div>
  
  
  </div> 
{% endblock content %}
